openapi: 3.1.0
info:
  title: Universal Logout API
  termsOfService: https://developer.okta.com/terms/
  contact:
    name: Okta Developer Team
    url: https://developer.okta.com/
    email: devex-public@okta.com
  license:
    name: Apache-2.0
    url: https://www.apache.org/licenses/LICENSE-2.0.html
  version: 2.7.0
  x-logo:
    url: logo.svg
    backgroundColor: transparent
    altText: Okta Logo
externalDocs:
  description: Find more info here
  url: https://developer.okta.com/docs/api/getting_started/design_principles.html
servers:
  - url: https://saas.com
paths:
  /universal-logout:
    post:
      summary: Logout a User
      description: |-
        Logout a user based on a [subject identifier](https://datatracker.ietf.org/doc/html/draft-ietf-secevent-subject-identifiers-18).
      operationId: logoutUser
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/LogoutRequest'
            examples:
              email:
                $ref: '#/components/examples/LogoutUserByEmail'
              phone:
                Email Logout:
                $ref: '#/components/examples/LogoutUserByOpaque'
        required: true
      responses:
        '204':
          description: **Success**: Return this to confirm to the IdP that the user will be logged out.
        '400':
          description: **Bad Request**: Return this if the request was malformed, such as if the IdP sent an unrecognized type of subject identifier.
        '401':
          description: **Unauthorized**: The request was missing authentication or the authentication was invalid.
        '403':
          description: **Forbidden**: The provided authorization is insufficient to perform the requested operation.
        '404':
          description: **User Not Found**: The user indicated by the subject identifier was not found.
        '422':
          description: **Unable to Process Request**: The request was valid, but the server is unable to log out the user indicated by the subject identifier.
      security:
        - oauth2:
            - universal-logout
      tags:
        - UniversalLogout
components:
  schemas:
    UniversalLogoutMetadata:
      type: object
      properties:
        universal_logout_endpoint:
          description: Universal logout endpoint url
          type: string
        authorizationSchemes:
          description: Authorization credentials accepted at the universal logout endpoint
          type: array
          items:
            type: string
        issuers:
          description: Issuers that can authorize universal logout credentials
          type: array
          items:
            type: string
        scope:
          description: OAuth 2.0 scopes required for accessing the universal logout endpoint
          type: string
    LogoutRequest:
      type: object
      properties:
        subject:
          oneOf:
            - $ref: '#/components/schemas/EmailSubject'
            - $ref: '#/components/schemas/OpaqueSubject'
          discriminator:
            propertyName: format
    AccountSubject:
      type: object
      properties:
        format:
          $ref: '#/components/schemas/SubjectFormat'
        uri:
          type: string
      required:
        - format
        - uri
    EmailSubject:
      type: object
      properties:
        format:
          $ref: '#/components/schemas/SubjectFormat'
        email:
          type: string
      required:
        - format
        - email
    IssuerSubSubject:
      type: object
      properties:
        format:
          $ref: '#/components/schemas/SubjectFormat'
        iss:
          type: string
        sub:
          type: string
      required:
        - format
        - iss
        - sub
    OpaqueSubject:
      type: object
      properties:
        format:
          $ref: '#/components/schemas/SubjectFormat'
        id:
          type: string
      required:
        - format
        - id
    PhoneSubject:
      type: object
      properties:
        format:
          $ref: '#/components/schemas/SubjectFormat'
        phone_number:
          type: string
      required:
        - format
        - phone_number
    DidSubject:
      type: object
      properties:
        format:
          $ref: '#/components/schemas/SubjectFormat'
        url:
          type: string
      required:
        - format
        - url
    UriSubject:
      type: object
      properties:
        format:
          $ref: '#/components/schemas/SubjectFormat'
        uri:
          type: string
      required:
        - format
        - uri
    AliasSubject:
      type: object
      properties:
        format:
          $ref: '#/components/schemas/SubjectFormat'
        identifiers:
          type: array
          items:
            oneOf:
              - $ref: '#/components/schemas/AccountSubject'
              - $ref: '#/components/schemas/EmailSubject'
              - $ref: '#/components/schemas/IssuerSubSubject'
              - $ref: '#/components/schemas/OpaqueSubject'
              - $ref: '#/components/schemas/PhoneSubject'
              - $ref: '#/components/schemas/DidSubject'
              - $ref: '#/components/schemas/UriSubject'
      required:
        - format
        - uri
    SubjectFormat:
      type: string
      enum:
        - account
        - email
        - iss_sub
        - opaque
        - phone_number
        - did
        - uri
        - aliases
  examples:
    UniversalLogoutMetadataExample:
      value:
        universal_logout_endpoint: https://saas.com/universal-logout
        authorizationSchemes:
          - Bearer
        issuers:
          - https://idp.example.com
        scope: universal-logout
    LogoutUserByEmail:
      summary: Logout a user by their email address
      value:
        subject:
          format: email
          email: user@example.com
    LogoutUserByOpaque:
      summary: Logout a user by their user ID
      value:
        subject:
          format: opaque
          phone_number: 'd563aec52'
    LogoutUserByPhone:
      summary: Logout a user by their phone number
      value:
        subject:
          format: phone_number
          phone_number: '+12065550100'
  securitySchemes:
    oauth2:
      type: oauth2
      description: 'Pass the access_token as the value of the Authorization header: `Authorization: Bearer {access_token}`'
      flows:
        authorizationCode:
          x-usePkce:
            disableManualConfiguration: false
            hideClientSecretInput: true
          authorizationUrl: /oauth2/v1/authorize
          tokenUrl: /oauth2/v1/token
          scopes:
            universal-logout: Requests access logout invdividual users
tags:
  - name: UniversalLogout
    x-displayName: Universal Logout