@font-face {
  font-family: 'Whyte';
  font-style: normal;
  font-weight: normal;
  src:
    url('/fonts/ABCWhyte-Book.woff') format('woff'),
    url('/fonts/ABCWhyte-Book.woff2') format('woff2');
}
@font-face {
  font-family: 'Whyte';
  font-style: italic;
  font-weight: normal;
  src:
    url('/fonts/ABCWhyte-BookItalic.woff') format('woff'),
    url('/fonts/ABCWhyte-BookItalic.woff2') format('woff2');
}
@font-face {
  font-family: 'Whyte';
  font-style: normal;
  font-weight: bold;
  src:
    url('/fonts/ABCWhyte-Medium.woff') format('woff'),
    url('/fonts/ABCWhyte-Medium.woff2') format('woff2');
}
@font-face {
  font-family: 'Whyte';
  font-style: normal;
  font-weight: 600;
  src:
    url('/fonts/ABCWhyte-Medium.woff') format('woff'),
    url('/fonts/ABCWhyte-Medium.woff2') format('woff2');
}
@font-face {
  font-family: 'Whyte';
  font-style: italic;
  font-weight: bold;
  src:
    url('/fonts/ABCWhyte-MediumItalic.woff') format('woff'),
    url('/fonts/ABCWhyte-MediumItalic.woff2') format('woff2');
}
@font-face {
  font-family: 'Whyte';
  font-style: italic;
  font-weight: 600;
  src:
    url('/fonts/ABCWhyte-MediumItalic.woff') format('woff'),
    url('/fonts/ABCWhyte-MediumItalic.woff2') format('woff2');
}

nav img {
  color: #00297a;
}

/*
Last Updated text above h1 on guides
Grey 600, increase spacing from top nav
*/
time[data-cy="last-updated"] {
  margin-top: 48px;
  color: #6e6e78 !important;
}

/*
Left nav caret
Increase horizontal spacing between arrow and text
*/
i[data-cy="arrow"] {
  margin-right: 8px;
}

/*
PUT/POST/GET/DELETE icon (wrapper) in left nav API items
Center with text
*/
div[data-cy^="sidebar-item-"] div {
  margin-top: -2px;
}

/*
PUT/POST/GET/DELETE icon in left nav API items
Increase horizontal spacing between icon and text
*/
span.operation-type {
  margin-right: 8px;
}

/*
Left nav API reference tag groups
Grey 700
*/
aside ul ul div > span:not(.operation-type) {
  color: #585862 !important;
}

/*
Left nav API reference tag groups
Grey 900
*/
aside ul ul > span {
  color: #1d1d21 !important;
}

/*
Table header cells
Blue 900 background
ColorTextBodyInverse color
*/
table th {
  color: #ffffff;
  background-color: #00297a !important;
}

/*
Markdown pages content
*/
section {
  margin-left: 75px !important;
  margin-left: 50px !important;
  max-width: 100% !important;
}

/*
API page content
50px margin-leftbecause content has additional 25px padding, match markdown spacing
*/
div.api-content {
  margin-left: 50px;
  max-width: 100% !important;
}

/*
Left nav
*/
body > div > div > div > div > aside {
  width: 20% !important;
  min-width: 320px;
}

/*
Right nav
*/
body > div > div > div > div > div > div > aside {
  width: 20% !important;
  min-width: 240px;
}
body > div > div > div > div > div > div > aside > div {
  width: 100% !important;
}

/** Remove annoying scrollbar in redocly left nav that shows up when not needed due to using 100vh when header is taking up real estate **/
aside ul:first-child {
  min-height: calc(100vh - 100px) !important;
}

.mermaid svg {
  font-family: 'Whyte,-apple-system,BlinkMacSystemFont,Segoe UI,Roboto,Oxygen-Sans,Ubuntu,Cantarell,Helvetica Neue,sans-serif' !important;
  font-size: '1rem' !important;
}

.node rect, .node circle, .node ellipse, .node polygon, .node path, .entityBox {
  fill: #a7b5ec !important;
  stroke: #00297a !important;
}

.mermaid svg .entityBox, .mermaid svg .entityBox {
  fill: #a7b5ec !important;
  stroke: #00297a !important;
}

.mermaid svg .attributeBoxOdd {
  stroke: #00297a !important;
}

.mermaid svg .attributeBoxEven {
  stroke: #00297a !important;
}